.divisao-setor {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 100%; 
}

.divisao-destaques {
    display: flex;
    justify-content: flex-start;
    width: 80%;
}

.destaquesContainer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
}

.produtosDestaques {
    display: flex;
    justify-content: center;
    width: 80%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 210px;
    height: 270px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .card img {
    max-width: 85%;
    height: 100px;
  }
  
  .card h2 {
    font-size: 1em;
    margin-top: 0.5em;
  }
  
  .card p {
    font-size: 0.8em;
    margin: 0.5em 0;
  }
  
  .card .price {
    font-weight: bold;
  }
  
  .card button {
    background-color: rgb(151, 152, 153);
    color: rgb(37, 37, 37);
    font-weight: bolder;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 10px;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 0.5em 0;
    margin-bottom: 0px;
    cursor: pointer;
  }
  
  .card button:hover {
    background-color: rgb(108, 109, 110);
    transition: 0.5s;
  }